/* Self Made Project  */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */

.container {
    display: flex;
    width: 75vw;
}

.primary-button {
    display: inline-flex;
    background-color: #ff6011;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 120px;
    height: 50px;
    margin-top: 30px;

}

.primary-button:hover {
    background-color:#de5510;
}

.primary-button:hover>a {
    color: white;
}

.secondary-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    width: 120px;
    height: 50px;
    background-color: #69654f;
    margin-top: 30px;
    margin-left: 10px;
}

.secondary-button:hover {
    background-color: #454545;
}

.secondary-button:hover>a {
    color: white;
}

.white-button-text {
    color: white;
}

.Roboto {
    font-family: "Roboto", sans-serif;
}

.Rubik {
    font-family: "Rubik", sans-serif;
}

.f15{
    font-size: 15px;
}

.f17 {
    font-size: 17px;
}

.f20 {
    font-size: 20px;
}

.f23{
    font-size: 23px;
}

.f32{
    font-size: 32px;
}

.f48 {
    font-size: 48px;
    font-weight: 550;
}

p {
    line-height: 1.7;
    color: #3d3d3d;
}

.partition{
    display: block;
    width: 180px;
    height: 3px;
    border: none;
    background-color: #ff6011;
    margin: 80px auto
}

.quote{
    width: 100%;
    margin: 28px 0px;
}

/* Header */


/* Navigation Bar */

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    margin: 15px 0px;
}

.logo {
    width: 125px;
}

.logo:hover {
    cursor: pointer;
}

.nav-links-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    line-height: 32px;
}

a:hover {
    color: #ff6011;
    cursor: pointer;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5e9dc;
    height: 35px;
    width: 35px;
    border-radius: 3px;
}

.search-icon {
    width: 20px;
}

.nav-button:hover {
    cursor: pointer;
}

.nav-button-container {
    display: flex;
    justify-content: end;
    width: 100px;
}

/* Introduction Section */

.introduction {
    display: flex;
    justify-content: center;
    background-color: #f5e9dc;
    width: 100vw;
}

.introduction-photo {
    width: 532px;
    height: 550px;
    margin: 48px 0px;
}

.left-intoduction {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: baseline;

}

.intro1 {
    margin-top: 80px;
    color: #3d3d3d;
    ;
}

.intro2 {
    margin-top: 30px;
    width: 70%;
    color: #1e1e1e;
}

.intro3 {
    width: 90%;
    margin-top: 30px;
    color: #3d3d3d;
}

.left-intoduction-items {
    line-height: 1.2;
}

/* Main Content */

/* Services */

main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.content{
    display: flex;
    justify-content: center;
    width: 75vw;
    flex-wrap: wrap;
}

.services{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}

.service-heading{
    width: 100%;
}

h6{
    color: #3d3d3d;
    font-size: 20px;
    font-family: "Rubik",sans-serif;
    font-weight: 400;
    text-align: center;
}

h2{
    font-size: 28px;
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    text-align: center;
}

.service-container{
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;
    width: 100%;
}

.service-info-container{
    max-width: 310px;
    margin-right: 120px;
}

.service-info-container>p{
    width: 300px;
}

.serviceImg{
    width: 306px;
    box-shadow: 15px -15px #f5e9dc;
}

strong{
    display: block;
    margin: 20px 0px;
}

/* About Section */

.about{
    display: flex;
    justify-content: center;
    background-color: #f5e9dc;
    width: 100vw;
    flex-wrap: wrap;

}

.aboutcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    
}

.AboutImg{
    height: 556px;
    margin: 32px 0px;
}

.abouttext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 556px;
    margin-left: 50px ;
}

/* Testimonials */

.testimonial{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
    width: 100vw;
}

.testimonial-outer-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.testimonial-inner-container{
    display: flex;
    justify-content: center;
    width: 75vw;
    flex-wrap: wrap;
}
.testimonial-heading{
    width: 100%;
    margin-top: 20px;
}
.testimonial-p{
    width: 100%;
    text-align: center;
}
.testimonial-content-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 40px ;
}
.testimonial-content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.4;
    border-left: 5px solid #ff6011;
    width: 350px;
}
.testimonial-text{
    padding-left: 60px;
}
.testimonial-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 10px
}
.testimonial-name-occupation-container{
    width: 50%;
    margin-left: 10px;
    margin-top: 20px;
}
.testimonial-occupation{
    color: #7E7E7E;
}
.testimonial-name{
    color: #1e1e1e;
}

/* Contact Us */

.contactUs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #f2e2d3;
}

.contactUsContainer{
    display: flex;
    justify-content: space-between;
    width: 75vw;
}
.contactUsContainer-left{
    margin: 50px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 530px;
}
.contactUs-form{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.contactUs-name{
    width: 454px;
    height: 50px;
    padding: 10px 12px;
    margin-top: 40px;
}
.contactUs-email{
    width: 454px;
    height: 50px;
    padding: 10px 12px;
    margin-top: 20px;
}
.contactUs-mobile{
    width: 210px;
    height: 50px;
    padding: 10px 12px;
    margin-top: 20px;
    margin-right: 20px;

}
.contactUs-subject{
    width: 210px;
    height: 50px;
    padding: 10px 12px;
    margin-top: 20px;
}
.contactUs-subject{
    width: 227px;
    height: 50px;
    padding: 10px 12px;
    margin-top: 20px;
}
.contactUs-textarea{
    width: 454px;
    height: 130px;
    padding: 10px 12px;
    margin-top: 20px;
}
.contactUs-button{
    width: 454px;
    height: 50px;
    padding: 10px 12px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #ff6011;
    border: none;
    border-radius: 2%;
    cursor: pointer;
}
.contactUsContainer-right{
    margin: 50px 0 ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 530px;
}
.contactUs-Heading{
    color: #3d3d3d;
    width: 100%;
    margin-top: 20px;
}
.contactUs-quote{
    color: #1e1e1e;
    width: 100%;
}
.contactUs-CallNow{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #f5e9dc;
    border-radius: 10px ;
}
.callNowBox{
    width: 50px;
    height: 50px;
    background-color: #ff6011;
    border-radius: 10px;
    margin-left: 30px;
}
.mobile-icon{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.contactUs-h3{
    width: 100%;
    margin-left: 20px;
}
.contactUs-p{
    margin-left: 20px;
}

/* Find Us */

.FindUs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.FindUs-container{
    display: flex;
    width: 75vw;
    justify-content: space-between;
    align-items: center;
}
.FindUs-container-left{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    width: 484px;
}
.FindUs-Heading{
    width: 100%;
    text-align: center;
}
.FindUsText{
    width: 100%;
    color: #1e1e1e;
    text-align: center;

}
.FindUs-container-right{
    display: flex;
    justify-content: center;
    align-items: center;

}
.map{
    margin-top: 20px;
    margin-bottom: 80px;
}

/* Footer */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2f2d2e;
}
.footer-heading{
    color: white;
    margin: 40px 0;
    width: 100%;
    text-align: center;
}
.footer-container{
    display: flex;
    justify-content: start;
    width: 75vw;
}
.footer-text{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    color: white;
    margin: 17px 0;
}
.footer-text:hover{
    font-size: 17px;
    font-family: "Roboto", sans-serif;
    color: #f6a0a0;
    margin: 17px 0;
    cursor: pointer;
}
.footer-container-left{
    width: 350px;
    margin-right: 20px;
}
.footer-hr{
    display: block;
    width: 100%;
    margin: 21px 0;
    height: 1px;
    border: none;
    background-color: #444243;
}

/* The End */